*{
    box-sizing: border-box;
    margin: 0;
    font-family: Helvetica, Arial, sans-serif;
}

body{
    max-width: 100%;
    overflow-x: hidden;
}

.full-screen{
    width: 100vw;
    height: 100vh;
    background-image: url("bg.jpg");
    background-size: contain;
}

.header{
    width: 100%;
    background-image: url("bg1.jpeg");
    display: flex;
    align-items: center;
}

img{
    width: 30%;
    height: auto;
    padding: 1em 0;
}

li{
    list-style: none;
    display: inline;
    margin: 4% 1%;
}

li a{
    display: block;
    text-align: center;
    text-decoration: none;
    font-size: 1em;
    color: black;
    padding: 1em 0.8em;
}

li a:hover{
    background-color: rgb(177, 20, 177);
    color: white;
}

ul li:not(ul li:first-of-type){
    float: right;
}

.login{
    width: 80%;
    height: 60%;
    margin: auto;
    margin-top: 2%;
}

form{
    border: 2px solid black;
    border-radius: 20%;
    width: 60%;
    margin: auto;
    background-image: url("bg1.jpeg");
    border-color: transparent;
}

.formlgn{
    width: 90%;
    margin: auto;
    margin-bottom: 1.5em;
}

label{
    width: 20%;
    display: inline-block;
}

.login h1{
    text-align: center;
    margin-top: 0.5em;
    margin-bottom: 1.2em;
    font-size: 1.8em;
}

.login input{
    padding: 0.4em;
    font-size: 1em;
    margin-bottom: 1.2em;
}

input[type=text]{
    width: 70%;
    padding: 0.2em;
}

input[type=submit]{
    width: 40%;
    background-color: turquoise;
    display: block;
    margin: auto;
    margin-bottom: 10px;
}

@media only screen and (min-width: 1024px) and (orientation: landscape){
    .full-screen{
        background-size: cover;
        background-repeat: no-repeat;
    }

    .header{
        height: 15%;
    }

    img{
        width: 12.5%;
        height: auto;
        padding: 2.5em 0;
    }

    li{
        margin: 3% 1%;
    }

    li a{
        font-size: 1.4em;
    }

    .flex{
        margin: 2.5em 0 2em 0;
    }
}